body {
    color: $default_color;
    font-family: $default_font_family;
}

.container {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: inherit;
    text-decoration: none;
}

/* stilo i button di default */
button {
    background-color: $background_color_button;
    color: $color_button;
    cursor: pointer;
    padding: 10px;
    @include bd_radius(8px);
    border: 0;
    transition: background-color 1s;

    &:hover {
        outline: 0;
        background-color: #233569;
    }
}

/* stilo il log-in (ripetuto più volte in pagina)*/
.log-in {
    .buttons {
        margin-bottom: 30px;

        button {
            font-size: $small_font_size;
            padding: 10px 20px;
        }

        .separator {
            padding: 0 15px;
            opacity: 0.5;
        }
    }

    .other-channel-access {
        font-size: $small_font_size;
        display: block;
    }
}
