header {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: $primary_background-color;

    .container {
        border-bottom: 1px solid $default_color_border;
    }

    #logo {
        @include float_element(left, 30%);
        @include flex(row, flex-start, center);
    }

    nav {
        @include float_element(right, 70%);
        text-align: right;
        font-size: $nav_font_size;

        ul {
            margin: 0;
            height: 100%;
            @include flex(row, flex-end, center);
            list-style-type: none;

            li {
                margin-left: 30px;
                display: inline-block;

                a:hover {
                    color: #30488f;
                }
            }
        }
    }
}
