header {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: $primary_background-color;

    .container {
        border-bottom: 1px solid $border_color;
    }

    #logo {
        @include float_element(left, 30%);
        @include flex(row, flex-start, center);
    }

    nav {
        @include float_element(right, 70%);
        text-align: right;
        font-size: $small_font_size;

        & > ul {
            margin: 0;
            height: 100%;
            @include flex(row, flex-end, center);
            list-style-type: none;

            li {
                margin-left: 30px;
                display: inline-block;

                a:hover {
                    color: $hover_color;
                }
            }
        }

        & > ul li:first-child {
            position: relative;

            &:hover .dropdown-menu,
            .dropdown-menu:hover {
                display: block;
            }
        }

        ul.dropdown-menu {
            position: absolute;
            top: 100%;
            display: none;
            background-color: $primary_background-color;
            text-align: left;
            padding: 10px 20px 10px 10px;
            box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
            @include bd_radius(7px);
            border: 1px solid $border_color;

            li {
                margin: 5px 0;
                line-height: $default_line_height;
                font-weight: 600;
            }
        }
    }
}
