@mixin float_element($float, $width_container) {
    float: $float;
    width: $width_container;
    height: 100%;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin bd_radius ($radius) {
    border-radius: $radius;
}

@mixin img_set ($width, $heigth) {
    width: $width;
    height: $heigth;
    object-fit: contain;
}
