$default_color: #58402c;
$default_font_family: 'Lato', sans-serif;
$default_color_border: #58402c;
$margin_titles: 0;
$nav_font_size: 14px;
$background_color_button: rgb(48, 72, 143);
$color_button: white;
$jumbotron_padding: 100px 0;
$secondary_background_color: #ffe7d2;
