/* variabili per il font */
$default_font_family: 'Lato', sans-serif;
$small_font_size: 14px;
$medium_font_size: 18px;
$big_font_size: 21px;
$primary_title_font_size: 45px;
$secondary_title_font_size: 26px;


/* variabili per il colore */
$default_color: #58402c;
$primary_background-color: white;
$secondary_background_color: #ffe7d2;
$hover_color: #30488f;
$background_color_button: rgb(48, 72, 143);
$color_button: white;
$secondary_color_link: #30488F;


/* altre variabili */
$padding_section: 60px 0;
$default_line_height: 1.3;
