$default_color: #58402c;
$default_font_family: 'Lato', sans-serif;
$default_color_border: #58402c;
$title_line_height: 1.3;
$nav_font_size: 14px;
$background_color_button: rgb(48, 72, 143);
$secondary_font_size: 13px;
$color_button: white;
$jumbotron_padding: 150px 0 125px 0;
$primary_paragraphs_font_size: 21px;
$primary_background-color: white;
$secondary_background_color: #ffe7d2;
$padding_section: 60px 0;
$secondary_paragraphs_font_size: 1.375rem;
